aiodns==2.0.0
aiofile==3.5.0
aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
aniso8601==9.0.1
appdirs==1.4.4
asgiref==3.7.2
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==20.3.0
Babel==2.9.1
beautifulsoup4==4.11.1
boto3==1.17.32
botocore==1.20.32
caio==0.8.0
certifi==2022.12.7
cffi==1.14.5
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.6
cssselect==1.2.0
cycler==0.11.0
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==0.5.0
Django==3.2.20
django-colorfield==0.9.0
django-cors-headers==3.7.0
django-environ==0.11.2
django-extensions==3.1.3
django-filter==23.2
django-heroku==0.3.1
django-python3-ldap==0.15.2
django-rest-framework==0.1.0
django-templated-mail==1.1.1
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
djoser==2.1.0
docutils==0.19
et-xmlfile==1.1.0
exceptiongroup==1.0.4
filelock==3.12.0
Flask==2.2.5
Flask-Cors==3.0.10
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
frozenlist==1.3.3
geographiclib==1.50
geopy==2.1.0
greenlet==2.0.2
gunicorn==20.0.4
h11==0.14.0
haversine==2.3.0
idna==2.10
imageio==2.14.1
importlib-metadata==6.7.0
importlib-resources==5.12.0
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.2
jmespath==0.10.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kiwisolver==1.3.2
ldap3==2.9.1
lxml==4.9.2
magic-filter==1.0.9
Mako==1.2.4
MarkupSafe==2.1.1
matplotlib==3.4.3
memcache==0.2.0
mpmath==1.2.1
multidict==5.1.0
networkx==2.6.3
nibabel==3.2.1
nipy==0.5.0
numpy==1.20.1
oauthlib==3.1.0
opencv-python==4.5.5.62
outcome==1.2.0
packaging==21.0
pandas==1.1.5
Pillow==9.0.0
platformdirs==3.5.1
psycopg2==2.8.6
pyasn1==0.4.8
pycares==3.1.1
pycparser==2.20
pycryptodomex==3.10.1
Pygments==2.15.0
PyJWT==2.0.1
pyparsing==3.0.3
pypiwin32==223
pyquery==1.4.3
PySocks==1.7.1
python-dateutil==2.8.1
python-docx==0.8.11
python-dotenv==0.21.1
python3-openid==3.2.0
pytz==2022.5
PyWavelets==1.2.0
pywin32==306
requests==2.28.1
requests-oauthlib==1.3.0
s3transfer==0.3.6
scikit-image==0.19.1
scipy==1.7.1
six==1.16.0
sniffio==1.3.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.16
sqlparse==0.4.1
sympy==1.9
tifffile==2021.11.2
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.6.2
uritemplate==3.0.1
urllib3==1.26.12
virtualenv==20.23.0
vk-api==11.9.9
websockets==11.0.1
Werkzeug==2.2.2
whitenoise==5.2.0
wsproto==1.2.0
WTForms==3.0.1
yarl==1.6.3
zipp==3.1.0
